.box {
	display: none;
	margin: 4px;
	padding: 2px;
	border: 1px solid black;
	background-color: #cccccc;
	width: 80%;
	font-size: 12px;
}

.beetlejuice {
	display: none;
}

.message {
	display: none;
}

.bestfriend {
	display: block;
}

.winning {
	background-color: yellow;
}

fieldset {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px;
	background-color: #d9d9d9;
	border: solid;
	border-color: #b5b3b3;
	outline: none;
  }

input[type=text], input[type=email], textarea {
	margin-top: 10px;
	margin-bottom: 10px;
}
/**
.qcircle {
	width: 4%;
	height: 0;
    	padding-bottom: 4%;
    	padding-right: 4%;
   	border-radius: 100px 0 0 0;
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: #8EE4AF;
	transition: width 1s, height 2s;
  	overflow: hidden;
}

.qcircle:hover {
	width: 70vw;
	height: 70vh;
}
  
.qcircle:hover .sources {
	transition-delay: 500ms;
	display: block;
}

.sources { 
  	padding: 80px;
  	position: relative;
	font-size: 30px;
	text-align: justify;
	color: #05386B;
	overflow: hidden;
	text-decoration: none;
  	display: none;
}

ul a {
	list-style-type: square;
}

ul li { 
	font-size: 15px;
}
**/

body {
	counter-reset: booplist;	
}

a[class="apaformat"] {
	counter-increment: booplist;
	text-decoration: none;
	color: black;
	outline: none;
	cursor: default;
}

a[class="apaformat"]::after {
	content: '[' counter(booplist) ']';
	vertical-align: super;
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}
ol :target {
	color: #d18100;
}

.stylebtn {
	padding: 15px 30px;
	background-color: white;
	font-family: Montserrat;
	font-size: 15px;
	outline: none;
	border-radius: 10px;
	font-weight: bold;
}
	
.stylebtn:hover {
	background-color: grey;
}

.yes {
	text-align: center;
}
