  .container {
    position: relative; 
    width: 100%;
    text-align: center;
}

.image {
    position: absolute;
    width: 500px;
    height: 500px;
    /*border: 1px solid red;*/
    margin-bottom: 20px;
}

.imageOne {
   position: relative;
    z-index: 100;
   bottom: 64px;
}
.imageTwo {
     z-index: 400;
     top: -2px;

     cursor: pointer;
}

.imageThree {
    z-index: 400;
    top: -2px;

}

.imageFour {
    z-index: 400;
    top: -10px;

}

.hide {

 border-color: black;
 border-width: 10px;
 width: 500px;
 height: 96px;
 position: relative;
 top: 0px;
 z-index: 997;
 background-color: #F67E7D;
}


.phoneborder {
  z-index: 474474;
  position: absolute;
  bottom: 83px;
}
