body {
	box-sizing: border-box;
	overflow: visible;
	font-family: Montserrat;
	margin: 0;
}

a {
	text-decoration: none;
	color: black;
}

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color:#05386B;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	text-align: left;
  }
  
  .sidenav a {
	padding: 10px 10px 10px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #6d86b5;
	display: block;
	transition: 0.3s;
  }
  
  .sidenav a:hover {
	background-color: #3a4d70;
	color: #f1f1f1;
  }
  
  .sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
  }

.ppl {
	position: relative;
	top: 16px;
	font-size: inherit;
	padding: inherit;
	padding-bottom: 20px;
	width: 100%;
	text-align: center;
	background-color: #abffb7;
	opacity: 0;
	display: none;
	-webkit-transition: opacity 0.4s ease-in;
       -moz-transition: opacity 0.4s ease-in;
        -ms-transition: opacity 0.4s ease-in;
         -o-transition: opacity 0.4s ease-in;
            transition: opacity 0.4s ease-in;
	-webkit-transition: background-color 0.4s;
       -moz-transition: background-color 0.4s;
        -ms-transition: background-color 0.4s;
         -o-transition: background-color 0.4s;
            transition: background-color 0.4s;
}

.ppl:hover {
	background-color: #bcffc8;
}

header {
	height: 200px;
	background-color: #379683;
	color: #ffffff;
	text-align: center;
	font-size: 100px;
	font-family: Montserrat;
	line-height: 200px;
	font-weight: bold;
	padding: 20px;
	margin-top: -10px;
}

.stuff {
	width: 100%;
	display: flex;
	height: auto;
}

aside {
	padding: 30px;
	float: right;
	background-color: #dddddd;
	font-size: 20px;
	flex: 3;
	background-color: #EDF5E1;
}

content {
	background-color: #5CDB95;
	padding: 30px;
	float: left;
	font-size: 20px;
	flex: 7;
	line-height: 1.5;
	text-align: justify;
}

@media screen and (max-width: 700px) {
	.apple {
		height: auto;
		display: block;
	}
	.banana {
		width: 100%;
		height: auto;
	}
	.carrot {
		float: none;
		width: 100%;
		font-size: 20px;
		padding-top: 20px;
		padding-bottom: 20px;
		text-align: center;
		background-color: #ccddcc;
		transition: background-color 0.4s;
	}
	.carrot:hover {
		background-color: #ddeedd;
	}
	.stuff {
		display: block;
	}

	aside {
		flex: none;
		width: 100%;
	}

	content {
		flex: none;
		width: 100%;
	}
	.ppl {
		top: 20px;
	}
}

img[alt="hamster"] {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 10%;
	padding-right: 10%;
	width: 80%;
	height: auto;
}

img[alt="stressedout"], img[alt="teenstress"] {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 20%;
	padding-right: 20%;
	width: 60%;
	height: auto;
}

/*for back to top and back to menu button*/
.container {
	float: right;
	height: auto;
	width: auto;
}
.topbutton {
	float: right;
	position: sticky;
	right: 0;
	bottom: 0;
	font-size: 18px;
	border: none;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	cursor: pointer;
	padding: 10px 10px;
	border-radius: 5px;
	text-decoration: none;
	text-align: center;
	font-family: Montserrat;
  }

  .topbutton:hover {
	background-color: #555;
  }

  .subtitle {
	  font-family: Montserrat;
	  font-weight: bold;
	  font-size: 28px;
  }

  .articlelist {
	list-style-type: square;
  }

  .list {
	  font-size: 18px;
  }

  .list:hover {
	  color: #3962b3;
  }
fieldset {
	background-color: #d9d9d9;
	border: solid;
	border-color: #b5b3b3;
	outline: none;
  }

  .submitbtn {
	  font-size: 15px;
	  font-family: Montserrat;
	  padding: 5px 15px;
	  background-color: white;
	  color: black;
  }

  .submitbtn:hover {
	  background-color: gray;
  }

.meowt {
	height:100px; 
	width:100%; 
	top: 0; 
	background-color: turquoise; 
	position: sticky; 
	text-align: center;
}

img[src="./images/cat logo.png"] {
	position: relative;
	top: 20px;
}

.whitething {
	font-size: 30px;
	cursor: pointer;
}

.about {
	text-align: justify;
}
