body {
	box-sizing: border-box;
	overflow: visible;
	font-family: Montserrat;
	margin: 0;
	background-color: #16497C;
}

a {
	text-decoration: none;
	color: darkblue;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
}

.ppl {
	position: relative;
	top: 16px;
	font-size: inherit;
	padding: inherit;
	padding-bottom: 20px;
	width: 100%;
	text-align: center;
	background-color: #abffb7;
	opacity: 0;
	display: none;
	-webkit-transition: opacity 0.4s ease-in;
       -moz-transition: opacity 0.4s ease-in;
        -ms-transition: opacity 0.4s ease-in;
         -o-transition: opacity 0.4s ease-in;
            transition: opacity 0.4s ease-in;
	-webkit-transition: background-color 0.4s;
       -moz-transition: background-color 0.4s;
        -ms-transition: background-color 0.4s;
         -o-transition: background-color 0.4s;
            transition: background-color 0.4s;
}

.ppl:hover {
	background-color: #bcffc8;
}
.navbar {
	list-style-type: none;
	display: flex;
	justify-content:center;
	align-items:center;
	flex-direction:row;
	height:57px;
	margin-top:0;
	margin-bottom:0;
}
.navbar > li{
	margin-right:3%;
}
.navbar > li > a{
	vertical-align:center;	
}
#experiences{
	height:57px;
	width:100%;
	
	display: hidden;
  	flex-direction: column;
	align-items:center;
	overflow:hidden;
}
#experiences a{
	text-align:center;
	vertical-align:center;
}
header {
	height: auto;
	background-color: #FFB997;
	color: #4A4E65;
	text-align: center;
	font-size: 100px;
	font-family: Montserrat;
	line-height: 200px;
	font-weight: bold;
	padding: 20px;
	margin-top: -10px;
	text-transform: uppercase;
}

h1 {
	color: #833B61;
	text-align: center;
	font-weight: bold;
	font-size: 50px;
	font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;

}

.contentintro {
	font-size: 30px;
	font-weight: bold;
	color: white;
	line-height: 200%;
}

.stuff {
	width: 100%;
	display: flex;
	height: auto;
}

aside {
	color: white;
	padding: 30px;
	float: right;
	font-size: 20px;
	flex: 3;
	background-color: #F67E7D;
}

content {
	border-right: 2px dashed white;
	color: white;
	background-color: #F67E7D;
	padding: 30px;
	float: left;
	font-size: 20px;
	flex: 7;
	line-height: 1.5;
	text-align: justify;
}

@media screen and (max-width: 700px) {
	.stuff {
		display: block;
	}
	aside {
		flex: none;
	}
	content {
		flex: none;
	}
	.ppl {
		top: 20px;
	}
}

img[alt="hamster"] {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 10%;
	padding-right: 10%;
	width: 80%;
	height: auto;
}

img[alt="stressedout"], img[alt="teenstress"] {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 20%;
	padding-right: 20%;
	width: 60%;
	height: auto;
}

/*for back to top and back to menu button*/
.container {
	float: right;
	height: auto;
	width: auto;
}
.topbutton {
	float: right;
	position: sticky;
	right: 0;
	bottom: 0;
	font-size: 18px;
	border: none;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	cursor: pointer;
	padding: 10px 10px;
	border-radius: 5px;
	text-decoration: none;
	text-align: center;
	font-family: Montserrat;
  }

  .topbutton:hover {
	background-color: #555;
  }

  .subtitle {
	  font-family: Montserrat;
	  font-weight: bold;
	  font-size: 28px;
  }

  .articlelist {
	list-style-type: square;
  }

  .list {
	  font-size: 18px;
  }

  .list:hover {
	  color: #3962b3;
  }
fieldset {
	color: black;
	background-color: #222222;
	border: solid;
	border-color: #999999;
	outline: none;
}

.meowt {
	height: auto; 
	width:100%; 
	top: 0; 
	background-color: #FFB997; 
	position: sticky; 
	text-align: center;
	z-index: 1337;
}

.meowt2 {
	height: auto; 
	width:100%; 
	top: 0; 
	background-color: #FFB997;
	text-align: center;
	z-index: 1337;
}

img[src="./images/cat logo.png"] {
	position: relative;
	top: 20px;
	display: inline;
}

.whitething {
	font-size: 30px;
	cursor: pointer;
}

.about {
	text-align: justify;
}
.sources {
  	width: 300px;
  	background-color: black;
	color: #fff;
	text-align: center;
	padding: 5px 0;
  	border-radius: 6px;
  	position: absolute;
  	opacity: 0;
  	animation-fill-mode: forwards;
	z-index: 793;
}

@keyframes spaghettiUp {
	from {
		opacity: 0;
	}
	to {
		opacity: 0.8;
	}
}

@keyframes spaghettiDown {
	from {
		opacity: 0.8;
	}
	to {
		opacity: 0;
	}
}

.pics {
	display: block;
	margin-left: auto;
	margin-right: auto;
}


	.footer {
		width: 100%;
		display: flex;
	}
	.footer1, .footer2, .footer3 {
		font-size: 20px;
		color: #FFD4ED;
		background-color: #0B022D;
		flex: 1;
		padding: 30px;
		padding-left: 60px;
	}

.backcard {
	padding: 50px;
}
